<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<style>
		.containerStyle {
			padding-bottom: 20px;
			padding-left: 2%;
			margin-left: 20%;
			margin-top: 2%;
			width: 50%;
			border: 1px solid black;
			border-radius: 4%;
		}
	</style>
	<title>Spring Security Example</title>
</head>

<body>
	<div class="containerStyle">
	<h1>Welcome!</h1>

	<h2>Click <a th:href="@{/hello}">here</a> to login to view authorised page</h2>
	</div>
</body>

</html>